
/* Start Global Rules */
/* Box Sizing */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Box Sizing */
:root {
    --main-color: #531710;
    --main-color-alt: #f0d1a1;
    --main-color-text: #ac6d36;
    --main-transition: 0.3s;
}
html {
    scroll-behavior: smooth;
    direction: rtl;
}
body {
    font-family: 'Cairo', sans-serif;
    background: #e57200;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    /* margin: 0;
    padding: 0; */
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {      /*mobil frist-sc mobil*/
    .container{
        width: 700px;
    }
}
/* Medium */
@media (min-width:992px) {  /*sc aftr mobil*/
    .container{
        width: 934px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1145px;
    }
}
/* End global Rules  */
/* Start components  */
.main-heading {
    text-align: center;
}
.main-heading > h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.main-heading h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.main-heading h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -37px;
    background-color: white;
}
.main-heading > p {
    width: 550px;
    margin: 0px auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
 /* End components */
/* Start Header  */
header {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ac6d36;
    /* background: #ac6d36; */
    /* -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd; */
}
header .container {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 150px;
    background: #ac6d36;

}
/* header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: rgb(0 0 0 / 50%);

    bottom: 0;
    width: calc(100% - 30px);
    right: 15px;
} */
header .container .logo {
    font-size: 40px;
    color: var(--main-color);
    display: flex;
    flex-wrap: wrap;

}
header .logo img {
    font-size: 20px;
    width: 300px;
    height: 239px;
    position: absolute; 
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media (max-width: 767px) {   
    header nav {
        display: flex;
        justify-content: flex-end;
    }
}    
header nav .toggle-menu {
    color: white;
    font-size: 22px;
    direction: rtl;

}
@media (min-width: 768px) {    /*mobil frist-sc mobil*/
    header nav .toggle-menu {
        display: none;
    }
}
/* /* header nav ul {
    display: flex;
} */
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
}
header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0px;
    width: 100%;
    height: 70px;
    background-color: rgb(83 23 16 / 88%);
    z-index: 23;
}
/* header nav .toggle-menu:hover + ul li a {
        padding: 15px;
} */
    OR 
header nav ul li a {
    padding: 15px !important;
} 
header nav ul li a {
    padding: 40px 10px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 10000;
  }
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  z-index: 1000000;
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-right: 30px;
    border-right: 1px solid white;
}
header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    transform: translateY(50%);
    left: 0;
}
header .menu__bar { 
    display: flex;
    height: 102px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 992px){
    header .menu__bar {
        overflow: hidden;
    }
}
header .logo  {
    height: 50px;
     margin-right: 40px; 
     display: flex;
    justify-content: center;
    align-items: center; 
} 

header .menu__bar li {
    position: relative;
}
header .menu__bar li i {
    padding-right: 5px;
}
@media (max-width: 767px) {
    header .menu__bar li i {
      display: none;
    }
} 
header .menu__bar li a {
    color: #fff;
}
.menu__bar li a:hover {
    color: #f2aa53;
}
.dropdowm__menu {
    display: none;
}
.menu__bar li:hover .dropdowm__menu {
    display: block;
    direction: initial;
    position: absolute;
    z-index: 1000;
    color: #fff;
    right: 0;
    top: 100%;
    background: rgb(83 23 16 / 98%);
}
.menu__bar li:hover .dropdowm__menu ul {
    display: block;
    margin: 0px 0 40px;
    padding: 0px;
    text-align: center;
}
.menu__bar li:hover .dropdowm__menu ul li {
    width: 115px;
    height: 80px;
    padding: 10px;
}
.dropdowm__menu ul li a .fas {
    float: left;
    margin-left: -15px;
    padding: 6px;
}
/* .dropdowm__menu-1 {
    display:none
} 
.dropdowm__menu ul li:hover .dropdowm__menu-1 {
    display: block;
    direction: initial;
    position: absolute;
    z-index: 1000;
    color: #fff;
    right:100%;
    top: 0;
    background: var(--main-color);
}  */

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
        margin: auto;
    }
} 
 /* Start Slides  */
article {
    display: block;
    background: var(--main-color);
    position: relative;
    top: 10px;
}
article:before {
    background-repeat: repeat-x;
    content: "";
    display: block;
    height: 10px;
    right: 0;
    margin-top: 10px;
    position: absolute;
    top: -13px;
    width: 100%;
    z-index: 99;
    background: url(../imegs/insta/160X16.png)
}
.to-banner-container{
    width: 100%;
    position: relative;
    padding: 10px;
}
.to-banner {
    max-height: 550px;
    height: 350px;
    width: 100%;
    position: relative;
}
.slideshow {
    width: 100%;
    height: 100%;
    padding: 14px 50px 0;
background: var(--main-color)
}

.slideshow-container {
     position: relative;
     overflow: hidden;
}
.mySlides {
    display: flex;
}
.mySlides img {
    width: 1500px;
    height: 445px;
    transition: all 0.15s ease;
} 

/* Next & previous buttons */
.prev, .next {
    color: #f1dbef;
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: auto;
    padding: 10px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
@media (max-width: 767px) {
    .prev, .next {
      display: none;
    }
}
/* Position the "next button" to the right */
.next {
    left: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #FCBF4C;
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 45px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
@media (max-width: 900px) {
    .text {
        bottom: 20px;
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .text {
        bottom: 10px;
        font-size: 12px;
    }
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #f2f2f2 ;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--main-color);
    padding-left: 9px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 6px}
}
  
  
/* End Slides */
/* Start Animation 
@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top:-50px;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100%, {
        transform: translateY (0)
    }
    40%,
    60% {
        transform: transitionY(-20);
    }
}
 End Animation */
 /* Start Section  */
Section {
    padding: 60px 0;
}
.services {
    position: relative;
    top: 11px;
}
.services:before {
    background-repeat: repeat-x;
    content: "";
    display: block;
    height: 10px;
    right: 0;
    position: absolute;
    top: 4px;
    width: 100%;
    z-index: 99;
    background: url(../imegs/insta/160X16.png)
}

.services > .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
@media (max-width: 767px) {
    .services > .container  {
        display: flex;
        flex-wrap: wrap;
    }
}

.services .cl-md-4  {
    float: right;
    margin-left: 32px;
    margin-right: 129px;
    text-align: justify;
}
@media (max-width: 992px){
    .services .cl-md-4 {
        margin-left: 30px;
        margin-right: 20px;
        /* text-align: center; */
    }
}
.color-white {
    color: #fff ;
}
.color-offwhite {
    color: #ffebd7 ;
    font-size: 19px;
    line-height: 29px;
}
.services .cl-md-4 .last {
    margin-top: 63px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.last .b-l {
    color: #fff;
}
/* Start Goal  */
.gole, .map {
    background:white;
    position: relative;
}
.gole .container,
.map {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.text-gol {
    float: right;
    /* margin-left: 100px; */
    /* margin-right: -37px; */
    text-align: center;
    margin: 0 19px 0 72px;
}
@media (max-width: 992px) {
    .text-gol {
        margin: 0;
    }
}
.text-gol h1, .map {
    color: var(--main-color);
    font-weight: bold;
}
.text-gol p {
    line-height: 2;
    color: var(--main-color-text);
    font-size: larger;
}
.gole .container .img-gol img {
    width: 300Spx;
    height: 250px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .gole .container, .map {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.button .b-g {
    color: var(--main-color);
    display: block;
    margin-top: 20px;
}
/* End Goal  */
/* .services .container .ser-a,
.ser-b {
    text-align: center !important;
}
.services .container
.ser-b {
    position: relative;
    margin-top: 50px;
}
@media (max-width: 767px) {
    .services .container  {
        display: flex;
        flex-wrap: wrap;
    }
}
.services .container > div > h1 {
    margin: 0 0 30px;
    font-weight: 600;
    text-align: center;
    color: #fff !important;
    font-size: 32px;
    line-height: 1.6;
    text-align: center;
}

.services .container div > p {
    float: right;
    margin-left: 40px;
    margin-right: 3.33333%;
    color: #fff !important;
    font-size: 20px;
    line-height: 2;
    text-align: center;
}
.services .container .our-s > a  {
    font-size: 18px;
    color: #ffebd7;
    text-decoration: none;
    height: 18px;
    padding-left: 36px;
}
.services .container .our-s-b > a {
    font-size: 18px;
    color: #ffebd7;
    text-decoration: none;
    height: 18px;
    padding-left: 36px;
} */
 /* End Services  */
 /* Start Footer */
 /* .footer {
    background: var(--main-color)
 } */
footer {
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, #2d0b00, #00093c);
    padding: 100px 0 30px;
    border-top-right-radius: 125px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}
 .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.row h4 {
    letter-spacing: 3px;
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), 
.col::nth-child(3) {
    flex-basis: 15%;
}
.col .logo {
    width: 80px;
    margin-bottom:30px;
}
.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid #ac6d36;;
    margin: 20px 0
}
.col ul li {
    /* list-style: none; */
     margin-bottom: 12px;
}
.col ul li a {
        /* text-decoration: none; */
        color: #fff;
}
form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ac6d36;
    /* margin-bottom: 35px; */
}
form .far {
    font-size: 18px;
    margin-left: 10px;
}
form input {
    width: 100%;
    background: transparent;
    color: #ac6d36;
    border: 0;
    outline: none;
}
form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solid {
font-size: 16px;
    color: #ffba7e;
}
.f-social .fab {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #0a0c26;
    background: #fff;
    margin-right: 17px;
    margin-top: 20px;
}
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ac6d36;
    margin: 20px auto;    
}
.last {
    text-align: center;
    letter-spacing: 2px;
}
.underline {
    width: 100%;
    height: 5px;
    background: #ac6d36;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    right: 0;
    /* left: 0; */
    overflow: hidden;
}
.underline span {
    width: 15px;
    height: 100%;
    position: absolute;
    background: #fff;
    border-radius: 3px;
    top: 0;
    right: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        right: -20px;
    }
    100% {
        right: 100%;
    }
}
@media (max-width: 700px) {
    footer {
        bottom: unset;
        justify-content:center;
    }
    .col {
        flex-basis: 100%;
    }
    .col:nth-child(2), 
    .col::nth-child(3) {
        flex-basis: 100%;
    }
}
 /* End Footer */
